Flask==0.10.1
Jinja2==2.7.2
MarkupSafe==0.23
Pillow==2.4.0
WTForms==2.0
Werkzeug==0.9.4
hashids==1.0.0
itsdangerous==0.24
pony==0.5
psycopg2==2.5.3
requests==2.3.0
wsgiref==0.1.2
yoyo-migrations==4.2.4
