/*font-family: 'PT Sans', sans-serif;*/
@import url('http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic&subset=latin,cyrillic')
/*font-family: 'Open Sans', sans-serif;*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,700,600&subset=latin,cyrillic-ext')
/*font-family 'Ubuntu', sans-serif*/
@import url('http://fonts.googleapis.com/css?family=Ubuntu&subset=cyrillic-ext,latin')