{% extends "index.html" %}
{% block content %}
<h2 class="title-h2">О подарке</h2>
<div class="spacer"></div>
<form method="post">
    <div class="present">
    <aside class="present__photo">
        <img class="present__icon" src="/static/images/photo-icon.svg" alt=""/>
        <div class="fileupload present__fileupload">
            <button>Загрузить фотографию</button>
            <input id="fileupload" type="file" name="image_file" data-url="/upload"/>
            {{ form.image(type="hidden")|safe }}
        </div>
    </aside>
    <aside class="present__desc">
        {{ form.description(placeholder='Расскажите о подарке')|safe }}
    </aside>
    </div>
    <div class="spacer spacer--big"></div>
    <h2 class="title-h2">Реквизиты</h2>
    <div class="spacer"></div>
    <div class="form-item">
        <label class="form-item__label" for="present[sum]">Сумма:</label>
        {{ form.amount(class="form-item__input-text", placeholder='Требуемая сумма') }}
        <span class="currency">руб.</span>
    </div>
    <div class="spacer spacer--small"></div>
    <div class="form-item">
        <label class="form-item__label" for="present[cardnumber]">Номер карты:</label>
        {{ form.card(class="form-item__input-text", placeholder="XXXXXXXXXXXXXXXX") }}
    </div>
    <div class="spacer spacer--big"></div>
    <div class="form-item form-item--submit">
        <input class="button button__full-color" type="submit" value="Отправить"/>
    </div>
</form>
{% endblock %}

{% block sctipts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="/static/js/vendor/jquery.ui.widget.js"></script>
<script src="/static/js/jquery.iframe-transport.js"></script>
<script src="/static/js/jquery.fileupload.js"></script>
<script>
$(function () {
    $('#fileupload').fileupload({
        dataType: 'json',
        done: function (e, data) {
            var image_file = $('#image')[0];
            image_file.value = data.result.file.url;
        }
    });
});
</script>
{% endblock %}