{% extends "index.html" %}
{% block content %}
<div class="creation-page">
	<div class="spacer--big"></div>
	<h2 class="title-h2">О подарке</h2>
	<div class="spacer--small"></div>
	<form method="post" role="presentSubmit">
		<div class="creation-page__present">
			<div class="present__photo input-item" id="image" style="background-image: url({{ image }})">
				<div class="input-item__box">
					<img class="present__photo_icon" src="/static/images/photo-icon.svg" alt="Загрузить фотографию"/>
					<div class="present__photo_fileupload-button">
						<button class="button">Загрузить фотографию</button>
						<input id="fileupload" type="file" name="image_file" data-url="/upload"/>
						{{ form.image(type="hidden")|safe }}
					</div>
				</div>
			</div>
			<div class="present__desc input-item">
				{{ form.description(class="input-item__textarea", placeholder='Расскажите о подарке...')|safe }}
			</div>
		</div>
		<div class="spacer--big"></div>
		<h2 class="title-h2">Реквизиты</h2>
		<div class="spacer--small"></div>
		<div class="creation-page__cardholder clearfix">
			<div class="input-item">
				<label class="input-item__label" for="amount">Сумма:</label>
				{{ form.amount(class="input-item__text", placeholder='Минимум 100 руб.', id='amount') }}
				<span class="input-item__hint"></span>
			</div>
			<div class="spacer--middle"></div>
			<div class="input-item">
				<label class="input-item__label" for="card">Номер карты:</label>
				{{ form.card(class="input-item__text", id='card', placeholder='XXXX-XXXX-XXXX-XXXX') }}
			</div>
			<div class="spacer--big"></div>
			<hr class="split-line"/>
			<div class="spacer--small"></div>
			<div class="form-errors" id="form-errors">
				<span>Заполните форму корректно:</span>
				<div class="form-errors__list"></div>
			</div>
			<button class="button button--big float-right" type="submit"/>Отправить</button>
		</div>
	</form>
</div>
{% endblock %}

{% block scripts %}
<script>
	app.errors = {{ form.errors|tojson|safe }};
</script>
<script src="/static/js/vendor/jquery.ui.widget.js"></script>
<script src="/static/js/jquery.iframe-transport.js"></script>
<script src="/static/js/jquery.fileupload.js"></script>
<script src="/static/js/pages/create.js"></script>
{% endblock %}