{% extends "index.html" %}
{% block metatags %}
<!-- for Facebook -->
<meta property="og:title" content="" />
<meta property="og:type" content="website" />
<meta property="og:image" content="{{ event.image }}" />
<meta property="og:url" content="" />
<meta property="og:description" content="{{ event.description }}" />
{% endblock %}
{% block content %}
<div class="donate-page">
	<div class="spacer--big"></div>
	<h2 class="title-h2">О подарке</h2>
	<div class="spacer--small"></div>
	<div class="creation-page__present">
		<div class="present__photo" style="background-image: url({{ event.image }})"></div>
		<div class="present__desc">
			<div class="present__desc_text">{{ event.description }}</div>
		</div>
	</div>
	<div class="spacer--big"></div>
	<h2 class="title-h2">Текущий статус</h2>
	<div class="spacer--small"></div>
	<div class="donate-progressbar">
		<div class="donate-progressbar__value">{{ event.income }} руб.</div>
		<div class="donate-progressbar__goal">{{ event.amount }} руб.</div>
	</div>
	<div class="spacer--big"></div>
{% if status == 'ok' %}
	<h2 class="title-h2">Спасибо, Ваш платеж принят!</h2>
{% elif error %}
    <h2 class="title-h2">Произошла ошибка</h2>
{% else %}
	<h2 class="title-h2">Скинуться</h2>
	<div class="spacer--small"></div>
	<form action="" class="donate-form clearfix" method="post" role="donateSubmit">
		<input type="hidden" name="card_destination" value="{{ event.card }}">
		<input type="hidden" name="member_id" value="{{ event.split_member_id }}">
		<input type="hidden" name="event_id" value="{{ event.split_event_id }}">
		<input type="hidden" name="TermUrl" value="http://split2pay.ru:8080/p2papi/submitPayment">
		<input type="hidden" name="PaReq" value="">
		<input type="hidden" name="MD" value="">
		<input type="hidden" name="card_source_expdate" value="">
		<div class="input-item">
			<label class="input-item__label" for="transfer_amount">Сумма:</label>
			<input class="input-item__text" id="transfer_amount" name="transfer_amount" placeholder="Cумма" type="text" value="">
			<span class="input-item__hint"></span>
			<span class="input-item__error"></span>
		</div>
		<div class="spacer--small"></div>
		<div class="input-item">
			<label class="input-item__label" for="card_source">Номер карты:</label>
			<input class="input-item__text" id="card_source" name="card_source" placeholder="XXXX-XXXX-XXXX-XXXX" type="text" value="">
			<span class="input-item__error"></span>
		</div>
		<div class="spacer--small"></div>
		<div class="input-item">
			<label class="input-item__label" for="exp_month">Срок</label>
			<select class="input-item__select" name="exp_month" id="exp_month">
				{% for m in range(1, 13) %}
				<option value="{{ "%02d" % m }}">{{ "%02d" % m }}</option>
				{% endfor %}
			</select>
			<select class="input-item__select" name="exp_year" id="exp_year">
				{% for y in range(2014, 2020) %}
				<option value="{{ y }}">{{ y }}</option>
				{% endfor %}
			</select>
			<span class="input-item__error"></span>
		</div>
		<div class="spacer--small"></div>
		<div class="input-item">
			<label class="input-item__label" for="cvv">CVV:</label>
			<input class="input-item__text" id="cvv" name="cvv" placeholder="000" type="text" value="">
			<span class="input-item__error"></span>
		</div>
		<div class="spacer--big"></div>
		<hr class="split-line"/>
		<div class="spacer--small"></div>
		<div class="form-errors" id="form-errors">
			<span>Заполните форму корректно:</span>
			<div class="form-errors__list"></div>
		</div>
		<div class="spacer--small"></div>
		<div class="yashare-auto-init float-left" data-yashareL10n="ru"
			 data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir" data-yashareTheme="counter"></div>
		<button id="save" class="button button--big float-right">Отправить</button>
	</form>
</div>
{% endif %}
{% endblock %}
{% block scripts %}
<script>
	var currentAmount = {{ event.income }},
		goalAmount = {{ event.amount }},
		event_id = {{ event.id }};
</script>
<script src="/static/js/pages/event.js"></script>
{% endblock %}
