<!DOCTYPE html>
<title>Chip In</title>
<head>
	<meta charset="utf"/>
	<link rel="stylesheet" href="/static/styles/main.css"/>
</head>
<body>
<main class="layout">
	<header class="header">
		<h1 class="header__logo"><a href="/">Chip In</a></h1>
	</header>
	<div class="main">
		{% block content %}{% endblock %}
	</div>
</main>
</body>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/static/js/jquery.mask.min.js"></script>
<script src="/static/js/script.js"></script>
{% block scripts %}{% endblock %}
</html>
