<!DOCTYPE html>
<title>Chip In</title>
<head>
	<meta charset="utf"/>
	<link rel="stylesheet" href="/static/build/main.css"/>
	{% block metatags %}{% endblock %}
</head>
<body>
<main class="layout">
	<header class="header">
		<h1 class="header__logo"><a href="/">Chip In</a></h1>
	</header>
	<div class="main">
		{% block content %}{% endblock %}
	</div>
</main>
</body>
<script src="/static/js/require-config.js"></script>
<script data-main="/static/js/main.js" src="/static/bower_components/requirejs/require.js"></script>
<script src="/static/js/script.js"></script>
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>
{% block scripts %}{% endblock %}
</html>
