{% extends "index.html" %}
{% block metatags %}
<!-- for Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ event.url }}" />
{% endblock %}
{% block content %}
<div class="link-page">
	<h2 class="title-h2">Ссылка</h2>
	<p>Чтобы ускорить сбор средств поделитесь ссылкой со своими друзьями</p>
	<div class="form-item">
		<input class="input--full" type="text" name="url" value=" {{ event.url }}">
	</div>
	<div class="spacer"></div>
	<div class="yashare-auto-init" data-yashareL10n="ru"
		 data-yashareQuickServices="yaru,vkontakte,facebook,twitter,odnoklassniki,moimir" data-yashareTheme="counter"></div>
	<div class="spacer"></div>
	<div class="form-item form-item--submit">
		<a class="link-page__link float-left" href="/">Собрать на новый подарок</a>
	</div>
</div>
{% endblock %}
{% block scripts %}
{% endblock %}