@import 'guideline'
@import 'mixins'

h1,h2,h3,h4,h5,h6
	padding 0
	margin 0

.title
	&-h2
		font-family: 'PT Sans', sans-serif;
		font-size 28px
		font-weight bold
		line-height 128%
		color #000
a
	color $red
	text-decoration none

	&:hover
		text-decoration underline

select
	background $grey
	border none
	height 38px

textarea
	border 0
	background $grey
	width 100%
	height 100%
	box-sizing border-box
	padding 14px 10px
	placeholder()

	&:focus
		outline-color $red

button
	button()

	&:hover
		color #fff
		background $redHover

	&:active
		color #fff
		background $redActive

.button
	button()

	&__full-color
		padding 12px 59px
		background $red
		color #fff

		&:hover
			color #fff
			background $redHover

		&:active
			color #fff
			background $redActive

		&:disabled
			border-color $redDisabled
			background $redDisabled

input[type=text]
	background $grey
	border none
	padding 10px
	placeholder()

	&:focus
		outline-color $red

.input
	&--full
		width 96%
		padding 20px 2% !important

.form-item
	&__label
		font-family 'Open Sans', sans-serif
		font-size 14px
		line-height 142%
		display inline-block
		width 130px

	&--submit
		border-top 2px solid $red
		text-align right

	&__error
		display none
		text-align left
		font-size 12px
		padding 6px 10px
		background #eb2129
		color #fff

		&--show
			display block

	.hint
		font-family 'Open Sans', sans-serif
		font-size 14px
		line-height 142%

.fileupload
	height 36px
	width 202px
	position relative
	overflow hidden

	input[type=file]
		position absolute
		left 0
		top 0
		width 100%
		height 100%
		opacity 0
		cursor pointer