@import '../bower_components/normalize.styl/normalize.styl'
@import 'fonts'
@import 'guideline'

.header
  height 100px
  border-bottom 2px solid $red

  &__title
      font-family 'Ubuntu', sans-serif
      font-size 48px
      line-height 100px
      margin-left 20px
      color $red
