border-radius(n)
	-webkit-border-radius n
	-moz-border-radius n
	border-radius n

placeholder()
	&::-webkit-input-placeholder /* WebKit browsers */
		font-family 'Open Sans', sans-serif
		font-size 14px
		color
	&:-moz-placeholder /* Mozilla Firefox 4 to 18 */
		font-family 'Open Sans', sans-serif
		font-size 14px
		color #9B9B9B
	&::-moz-placeholder /* Mozilla Firefox 19+ */
		font-family 'Open Sans', sans-serif
		font-size 14px
		color #9B9B9B
	&:-ms-input-placeholder /* Internet Explorer 10+ */
		font-family 'Open Sans', sans-serif
		font-size 14px
		color #9B9B9B

	&:focus
		outline none

inputhover()
	box-sizing border-box

	&:hover
		border 2px solid #000 !important
		cursor pointer