border-radius(n)
	-webkit-border-radius n
	-moz-border-radius n
	border-radius n

placeholder()
	&::-webkit-input-placeholder /* WebKit browsers */
		font-family 'Open Sans', sans-serif
		font-size 14px
		color $darkgrey
	&:-moz-placeholder /* Mozilla Firefox 4 to 18 */
		font-family 'Open Sans', sans-serif
		font-size 14px
		color $darkgrey
	&::-moz-placeholder /* Mozilla Firefox 19+ */
		font-family 'Open Sans', sans-serif
		font-size 14px
		color $darkgrey
	&:-ms-input-placeholder /* Internet Explorer 10+ */
		font-family 'Open Sans', sans-serif
		font-size 14px
		color $darkgrey
button()
	font-family: 'Open Sans', sans-serif;
	font-size 14px
	font-weight bold
	line-height 135%
	color #fff
	padding 12px 59px
	border 1px solid $red
	border-radius 5px
	background $red