{% extends "index.html" %}
{% block content %}
<div class="creation-page">
	<div class="spacer--big"></div>
	<h2 class="title-h2">О подарке</h2>
	<div class="spacer--small"></div>
	<form method="post" role="giftSubmit">
        <input type="hidden" name="card_expdate" value="">
		<div class="creation-page__gift">
			<div class="gift__photo input-item" id="image" style="background-image: url({{ image }})">
				<div class="input-item__box">
					<img class="gift__photo_icon" src="/static/images/photo-icon.svg" alt="Загрузить фотографию"/>
					<div class="gift__photo_fileupload-button">
						<button class="button">Загрузить фотографию</button>
						<input id="fileupload" type="file" name="image_file" data-url="/upload"/>
						{{ form.image(type="hidden")|safe }}
					</div>
				</div>
			</div>
			<div class="gift__desc input-item">
				{{ form.description(class="input-item__textarea", placeholder='Расскажите о подарке...')|safe }}
			</div>
		</div>
		<div class="spacer--big"></div>
		<div class="creation-page__cardholder clearfix">
			<div class="input-item">
				<label class="input-item__label" for="amount">Хочу собрать:</label>
				{{ form.amount(class="input-item__text", placeholder='Минимум 100', id='amount') }} рублей
				<span class="input-item__hint"></span>
			</div>
			<div class="spacer--big"></div>
			<div class="spacer--small"></div>
			<div class="form-errors float-left" id="form-errors">
				<span>Заполните форму корректно:</span>
				<div class="form-errors__list"></div>
			</div>
        </div>
        <h2 class="title-h2">Куда зачислить</h2>
        <div class="clearfix">
		    <div class="spacer--small"></div>
            <button class="button button--white button--box float-left" type="submit" name="payment_type" value="visa"><img class="button--img" src="/static/images/visa_mc.png"></button>
            <button class="button button--white button--box float-left" type="submit" name="payment_type" value="qiwi"><img class="button--img" src="/static/images/qiwi.png"></button>
            <button class="button button--white button--box float-left" type="submit" name="payment_type" value="yandex"><img class="button--img" src="/static/images/yandex.png"></button>
            <button class="button button--white button--box float-left" type="submit" name="payment_type" value="webmoney"><img class="button--img" src="/static/images/webmoney.png"></button>
		</div>
	</form>
</div>
{% endblock %}

{% block scripts %}
<script>
	app.errors = {{ form.errors|tojson|safe }};
</script>
<script src="/static/js/vendor/jquery.ui.widget.js"></script>
<script src="/static/js/jquery.iframe-transport.js"></script>
<script src="/static/js/jquery.fileupload.js"></script>
<script src="/static/js/pages/create.js"></script>
{% endblock %}