<!DOCTYPE html>
<title>{% block title %}PeerPay - Быстрый способ собрать деньги на подарок{% endblock %}</title>
<head>
	<meta charset="utf"/>
	{% block metatags %}{% endblock %}

    {% assets filters="cssmin", output="gen/styles.css", "styles/*.css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}"/>
    {% endassets %}

	{% block styles %}{% endblock %}
</head>
<body>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-53433512-1', 'auto');
  ga('send', 'pageview');

</script>

<div class="layout">
		<div class="page-wrap">
			<header class="header">
				<div class="container">
					<a href="/">
						<img class="header__logo" src="/static/images/logo.png" alt="PeerPay" title="PeerPay"/>
					</a>
				</div>
			</header>
			<main class="content">
				<div class="container">
				{% block content %}{% endblock %}
				</div>
			</main>
		</div>
		<footer class="footer">
			<div class="container">
				<div class="footer__left-side float-left">
					<img src="/static/images/logo-without-alpha.png" alt="PeerPay" title="PeerPay"/>
					<div>
						Сделано с любовью в <a href="http://octoberry.ru/" target="_blank" title="Octoberry">Octoberry</a> +
						<a href="http://www.parksideup.com/" target="_blank" title="PARKSIDE">PARKSIDE</a>
					</div>
				</div>
				<div class="footer__right-side float-right">
					<div>Техническая поддержка<br/>
						<a href="mailto:peerpay@octoberry.ru" title="peerpay@octoberry.ru">peerpay@octoberry.ru</a>
					</div>
				</div>
			</div>
		</footer>
	</div>
</div>
</body>
<script>
	var app = (app) ? app : {};
</script>
{% block scripts %}{% endblock %}
<script src="//yandex.st/jquery/2.1.1/jquery.min.js"></script>
<script type="text/javascript" src="//yandex.st/share/share.js" charset="utf-8"></script>

{% assets filters="jsmin", output="gen/packed.js", "js/vendor/*.js", "js/*.js", "js/pages/*.js" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
</html>
