{% extends "index.html" %}
{% block content %}
<div class="spacer--big"></div>
<h2 class="title-h2">К сожалению в данный момент платежная система не поддерживается</h2>
<div class="spacer--small"></div>
<form method="POST" action="{{ url_for('not_supported', payment_type=payment_type) }}" role="emailSubmit">
    <input type="hidden" name="tags" value="{{ payment_type }}">
	<p>Оставь нам свой e-mail и будь в курсе последних обновлений нашего проекта.</p>
	<div class="input-item">
		{{ form.email(class="input-item__text input-item__text--full-width", placeholder='Введите свой e-mail', id='email') }}
		<span class="form-item__error"></span>
	</div>
	<div class="spacer--big"></div>
	<hr class="split-line"/>
	<div class="spacer--small"></div>
    <div class="creation-page__cardholder clearfix">
        <div class="spacer--small"></div>
        <div class="form-errors float-left" id="form-errors">
            <span>Заполните форму корректно:</span>
            <div class="form-errors__list"></div>
        </div>
    </div>
	<input class="button button--big float-right" type="submit" value="Отправить"/>
</form>
{% endblock %}
{% block scripts %}
<script>
	app.errors = {{ form.errors|tojson|safe }};
    $(function () {
        var $form = $('form[role="emailSubmit"]'),
        $errorContainer = $('#form-errors', $form);
        app.formValidate(app.errors, $errorContainer);
    });
</script>
{% endblock %}